@font-face {
    font-family: 'Open Sans Web';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light Web'), local('OpenSans-Light Web'), url(../fonts/opensans-light.woff) format('woff');
}
@font-face {
    font-family: 'Open Sans Web';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Web Web'), local('OpenSans Web'), url(../fonts/opensans-regular.woff) format('woff');
}
@font-face {
    font-family: 'Open Sans Web';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans Semibold Web'), local('OpenSans-Semibold Web'), url(../fonts/opensans-semibold.woff) format('woff');
}
@font-face {
    font-family: 'Open Sans Web';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold Web'), local('OpenSans-Bold Web'), url(../fonts/opensans-bold.woff) format('woff');
}
@font-face {
    font-family: 'Raleway Web';
    font-style: normal;
    font-weight: 600;
    src: local('Raleway SemiBold Web'), local('Raleway-SemiBold Web'), url(../fonts/raleway-semibold.woff) format('woff');
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}
* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
a img {
    border: none;
}
button {
    margin: 0;
    padding: 0;
}
.clear {
    clear: both;
}
body {
    font-family: 'Open Sans Web', sans-serif;
    font-size: 32px;
    margin: 0;
    position: relative;
}
body > header {
    background-color: #302f34;
    background-image: url('../images/the-creation-of-adam.jpg');
    background-position: 0 30%;
    background-size: cover;
    border-bottom: solid 10px #f1f1f2;
    margin: 0 0 85px;
    overflow: hidden;
    padding: 0 32px;
    text-align: center;
}
body > header h1 {
    color: #f9f7ef;
    font-family: 'Raleway Web';
    font-size: 48px;
    padding: 90px 0 16px;
}
body > header h3 {
    color: #f9f7ef;
    font-family: 'Open Sans Web', sans-serif;
    font-size: 26px;
    font-weight: 300;
    margin: 0 auto 26px;
    max-width: 900px;
}
body > header .email-border {
    background-color: rgba(0, 0, 0, 0.27);
    padding: 21px;
    border-radius: 45px;
    width: 586px;
    margin: 0 auto;
}
body > header .email-border .email {
    background-color: #fff;
    border-radius: 25px;
    height: 50px;
    position: relative;

    -webkit-transition: background-color 0.3s;
            transition: background-color 0.3s;
}
body > header .email-border .email input {
    background-color: transparent;
    border: none;
    color: #27262a;
    display: block;
    font-family: 'Open Sans Web', sans-serif;
    font-size: 22px;
    font-weight: 600;
    height: 50px;
    left: 20px;
    line-height: 50px;
    outline: none;
    position: absolute;
    width: calc(100% - 200px);
}
body > header .email-border .email button {
    background-color: #62c7dc;
    border-radius: 26px;
    border: none;
    color: #ffffff;
    cursor: pointer;
    font-family: 'Open Sans Web', sans-serif;
    font-size: 18px;
    font-weight: 600;
    height: 42px;
    line-height: 40px;
    opacity: 1;
    position: absolute;
    right: 5px;
    top: 4px;
    width: 170px;

    -webkit-transition: background-color 0.3s, opacity 0.3s 0.1s;
            transition: background-color 0.3s, opacity 0.3s 0.1s;
}
body > header .email-border .email button:hover {
    background-color: #11b9ff;
}
body > header .email-border .email .thanks-message {
    display: none;

    color: #fff;
    font-size: 24px;
    font-weight: 700;
    height: 100%;
    line-height: 50px;
    opacity: 0;
    position: absolute;
    text-align: center;
    width: 100%;
}
body > header .email-border .email.thanks {
    background-color: #62c7dc;
}
body > header .email-border .email.thanks button {
    cursor: default;
    opacity: 0;

    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
}

body > header .email-border .email.thanks input {
    animation: thanksFormInputSlide 0.3s forwards;
    -webkit-animation: thanksFormInputSlide 0.3s forwards;

    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
}
body > header .email-border .email.thanks .thanks-message {
    animation: thanksMessageSlide 0.3s 0.5s forwards;
    -webkit-animation: thanksMessageSlide 0.3s 0.5s forwards;
    
    display: block;
}
body > header .disclaimer {
    color: #ffffff;
    font-size: 13px;
    font-weight: 300;
    margin: 20px 0 100px;
}
body > header .disclaimer a.fftf {
    color: #ffffff;
    font-weight: 700;
}
body > header .disclaimer a.privacy {
    color: #ffffff;
    font-weight: 600;
}
/* Responsive styles for header */
@media screen and (max-width: 650px) {
    body > header h1 {
        font-size: 36px;
    }

    body > header .email-border {
        border-radius: 4px;
        width: 100%;
    }
    body > header .email-border .email {
        border-radius: 4px;
        height: 100px;
    }
    body > header .email-border .email .thanks-message {
        line-height: 100px;
    }
    body > header .email-border .email input {
        border-radius: 4px;
        font-size: 16px;
        width: calc(100% - 40px);
    }
    body > header .email-border .email button {
        border-radius: 0 0 4px 4px;
        bottom: 0;
        left: 0;
        line-height: 48px;
        top: auto;
        width: calc(100%);
    }
}
body > section.artists {
    max-width: 1392px;
    margin: 0 auto;
    min-height: 545px;
    padding: 0 16px 111px;
}
body > section.artists header {
    overflow: hidden;
}
body > section.artists header h3 {
    color: #1a223d;
    float: left;
    font-family: 'Open Sans Web', sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 38px;
    margin: 0 24px 16px 0;
}
body > section.artists header button.add-your-name {
    float: left;
    margin: 0 0 32px;
}
body > section.artists header .filter {
    cursor: pointer;
    float: right;
    margin: 0 0 32px 24px;
}
body > section.artists header .filter .label {
    color: #281d4e;
    float: left;
    font-size: 25px;
    font-weight: 300;
    line-height: 37px;
    margin: 0 20px 0 0;
}
body > section.artists header .filter .dropdown {
    float: left;
}
body > section.artists header .filter .dropdown .selected {
    background-color: #868686;
    border-radius: 18px 0 0 18px;
    color: #ffffff;
    float: left;
    font-size: 17px;
    font-weight: 700;
    height: 42px;
    line-height: 42px;
    padding: 0 10px 0 20px;
    text-transform: uppercase;
    
    -webkit-transition: background-color 0.3s;
            transition: background-color 0.3s;
}
body > section.artists header .filter .dropdown .arrow {
    background-color: #737373;
    background-image: url(../images/downwards-arrow.png);
    background-position: 10px 18px;
    background-repeat: no-repeat;
    border-radius: 0 18px 18px 0;
    float: left;
    height: 42px;
    line-height: 42px;
    width: 35px;

    -webkit-transition: background-color 0.3s;
            transition: background-color 0.3s;
}
body > section.artists header .filter .dropdown:hover .selected {
    background-color: #878789;
}
body > section.artists header .filter .dropdown:hover .arrow {
    background-color: #646466;
}
body > section.artists #artists-view {
    margin: 0 auto;
}
body > section.artists #artists-view .nothing {
    font-size: 26px;
    opacity: 0;
    padding: 32px 0 0;
    text-align: center;

    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);

    -webkit-transition: all 0.3s;
            transition: all 0.3s;
}
body > section.artists #artists-view.nothing .nothing {
    opacity: 0.3;

    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
}
body > section.artists #artists-view .artist {
    background-size: cover;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    height: 280px;
    line-height: 1.4;
    overflow: hidden;
    width: 217px;
}
body > section.artists #artists-view .artist .text {
    border-radius: 5px;
    height: 280px;
    overflow: hidden;
    padding: 18px 18px 18px 18px;
    position: absolute;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
    width: 100%;
    z-index: 2;

    -webkit-transform: translate3d(0, 182px, 0);
        -ms-transform: translate3d(0, 182px, 0);
            transform: translate3d(0, 182px, 0);

    -webkit-transition: -webkit-transform 0.3s;
            transition: transform 0.3s;
}
body > section.artists #artists-view .artist:hover .text {
    overflow: auto;

    -webkit-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);

    -webkit-transition: -webkit-transform 0.3s;
            transition: transform 0.3s;
}
body > section.artists #artists-view .artist .name {
    color: #0f6;
    font-weight: bold;
    text-decoration: none;

    -webkit-transition: color 0.173s, text-shadow 0.198s;
            transition: color 0.173s, text-shadow 0.198s;
}
body > section.artists #artists-view .artist .name:hover {
    color: #11b9ff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .982);
}
body > section.artists #artists-view .artist .social-links {
    color: rgba(255, 255, 255, 0.7);
    display: block;
    font-size: 11px;
    padding: 4px 0 0;
    text-align: left;
}
body > section.artists #artists-view .artist .social-links a {
    color: #0f6;
    text-decoration: none;

    -webkit-transition: color 0.173s, text-shadow 0.198s;
            transition: color 0.173s, text-shadow 0.198s;
}
body > section.artists #artists-view .artist .social-links a:hover {
    color: #11b9ff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .982);
}
body > section.artists #artists-view .artist .shade {
    bottom: 0;
    height: 48px;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 3;

    background-image: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,1)));
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
    background-image: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
    background-image: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);

    border-radius: 0 0 5px 5px;

    -webkit-transition: opacity 0.3s, left 0s;
            transition: opacity 0.3s, left 0s;
}
body > section.artists #artists-view .artist:hover .shade {
    opacity: 0;
    left: -99999px;

    -webkit-transition: opacity 0.3s, left 0s 0.4s;
            transition: opacity 0.3s, left 0s 0.4s;
}
body > section.artists #artists-view .artist .tint {
    background-color: #000;
    border-radius: 5px;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;

    -webkit-transition: opacity 0.218s;
            transition: opacity 0.218s;
}
body > section.artists #artists-view .artist:hover .tint {
    opacity: 0.679;
}
body > section.join-us {
    background-color: #222227;
    padding: 75px 16px;
}
body > section.join-us > h3 {
    color: #fff;
    font-size: 80px;
    font-weight: 300;
    margin: 0 0 48px;
    text-align: center;
}
body > section.join-us > h4 {
    color: #fff;
    font-size: 30px;
    font-weight: 300;
    margin: 0 auto 40px;
    max-width: 890px;
}
body > section.join-us > h4 strong {
    border-bottom: 1px solid #1fbf63;
    font-weight: 600;
}
body > section.join-us > button.add-your-name {
    margin: 0 auto 80px;
}
body > section.join-us > .testimonials {
    margin: 0 auto 46px;
    max-width: 1132px;
    text-align: center;
}
body > section.join-us > .testimonials .testimonial {
    display: inline-block;
    height: 340px;
    margin: 0 8px 24px;
    position: relative;
    width: 260px;
}
body > section.join-us > .testimonials .testimonial .quote {
    color: #fff;
    font-size: 14px;
    line-height: 21px;
    padding: 40px 32px;
}
body > section.join-us > .testimonials .testimonial .name {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.6;
    text-transform: uppercase;
    position: absolute;
    width: 100%;
    bottom: 5px;
}
body > section.join-us > .testimonials .testimonial.snowden {
    background-image: url(../images/testimonials/snowden.png);
}
body > section.join-us > .statement {
    background-color: #454551;
    color: #fff;
    font-size: 24px;
    margin: 0 auto;
    max-width: 1112px;
    padding: 40px 45px;
    text-align: center;
}
body > footer {
    background-color: #19191b;
    padding: 0 40px;
    overflow: hidden;
}
body > footer .left {
    float: left;
}
body > footer .left .logo {
    margin: 38px 32px 0 0;
}
body > footer .right {
    float: right;
    margin: 37px 0;
}
body > footer .right .donate {
    background-color: #505063;
    border-radius: 15px;
    border: none;
    color: #ffffff;
    cursor: pointer;
    display: block;
    float: left;
    font-family: 'Open Sans Web', sans-serif;
    font-size: 16px;
    font-weight: 600;
    height: 32px;
    line-height: 30px;
    right: 5px;
    text-align: center;
    text-decoration: none;
    top: 4px;
    width: 112px;

    -webkit-transition: opacity 0.3s;
            transition: opacity 0.3s;
}
body > footer .right .donate:hover {
    opacity: 0.838;
}
body > footer .right .facebook {
    float: left;
    margin: 1px 0 0 20px;
}
body > footer .right .twitter {
    float: left;
    margin: 1px 0 0 14px;
}
body > footer .right .facebook img,
body > footer .right .twitter img {
    cursor: pointer;
    display: block;
}

/* Buttons */
button.add-your-name {
    background-color: #1fbf63;
    background-image: url(../images/plus.png);
    background-position: 14px 13px;
    background-repeat: no-repeat;
    border-radius: 20px;
    border: none;
    color: #ffffff;
    cursor: pointer;
    display: block;
    font-family: 'Open Sans Web', sans-serif;
    font-size: 21px;
    font-weight: 600;
    line-height: 42px;
    padding: 0 16px 0 38px;

    -webkit-transition: background-color 0.3s;
            transition: background-color 0.3s;
}
button.add-your-name:hover {
    background-color: #0be066;
}

/* Modals */
.overlay {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    display: table;
    display: none;
    z-index: 9001;

    -webkit-transition: opacity 0.4s ease-out 0s, left 0s linear 0s;
            transition: opacity 0.4s ease-out 0s, left 0s linear 0s;
}
body.mobile .overlay {
    background: rgba(0, 0, 0, 1);
}
.overlay.invisible {
    pointer-events: none;
    opacity: 0;
    left: 99999px;

    -webkit-transition: opacity 0.4s ease-out 0s, left 0s linear 0.5s;
            transition: opacity 0.4s ease-out 0s, left 0s linear 0.5s;
}
.overlay .gutter {
    display: table-cell;
    cursor: pointer;
    vertical-align: middle;
}
.overlay .gutter .modal {
    border-radius: 5px;
    color: black;
    cursor: default;
    margin: 0px auto;
    max-width: 680px;
    overflow: auto;
    position: relative;
    text-align: center;
    overflow-x: hidden;

    -webkit-overflow-scrolling: touch;

    -webkit-transform: scale(1);
            transform: scale(1);

    -webkit-transition: -webkit-transform 0.4s ease-out 0s;
            transition: transform 0.4s ease-out 0s;
}
.overlay.invisible .gutter .modal {
    -webkit-transform: scale(0.784);
            transform: scale(0.784);

    -webkit-transition: -webkit-transform 0.4s ease-out 0s;
            transition: transform 0.4s ease-out 0s;
}
.overlay .modal a.close {
    position: absolute;
    right: 10px;
    top: 0px;
    color: black;
    opacity: .4;
    text-decoration: none;
    font-size: 30px;
}
.overlay .modal a.close:hover {
    opacity: .6;
}
.overlay .modal h1 {
    background-color: #6871a8;
    color: white;
    font-family: 'Open Sans Web', sans-serif;
    font-size: 26px;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 31px;
    padding: 32px;
    text-align: center;
}
.overlay .modal h2 {
    font-size: 16px;
    line-height: 20px;
    padding: 0px 25px;
    margin: 0px auto;
}
.overlay .modal p {
    padding-left: 30px;
    padding-right: 30px;
    color: #333;
    margin-bottom: 0px;
    font-size: 18px;
    line-height: 23px;
}
.overlay .modal label {
    font-size: 13px;
    display: inline-block;
    width: 130px;
    text-align: left;
}
.overlay .modal label span {
    color: gray;
}
.overlay .modal input {
    width: 280px;
    font-size: 20px;
}
.overlay .modal select {
    width: 280px;
    font-size: 20px;
}
.overlay .modal hr {
    border: 0px;
}

.categories-modal .gutter .modal {
    background-color: #6871a8;
    max-width: 320px;
}

.categories-modal .gutter .modal .options {
    padding: 0 0 24px;
    text-align: left;
}

.categories-modal .gutter .modal .options .option {
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.117);
    /*box-shadow: 0px -8px 8px rgba(0, 0, 0, 0.04) inset;*/
    cursor: pointer;
    font-size: 17px;
    font-weight: bold;
    padding: 8px 32px;
    text-transform: uppercase;

    -webkit-transition: all 0.129s;
            transition: all 0.129s;

    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
}

.categories-modal .gutter .modal .options .option:hover {
    background-color: #6871a8;
    color: #fff;
    text-indent: 8px;
}

.categories-modal .gutter .modal .options .option:first-of-type {
    border-top: 1px solid rgba(0, 0, 0, 0.117);
}

.uploading-modal .gutter .modal {
    background-color: #6871a8;
    max-width: 320px;
}

.uploading-modal .gutter .modal .description {
    padding: 24px 32px 24px;
    background-color: #fff;
    text-align: center;
    font-size: 16px;
}

.uploaded-modal .gutter .modal {
    background-color: #6871a8;
    max-width: 320px;
}

.uploaded-modal .gutter .modal .description {
    padding: 24px 32px 24px;
    background-color: #fff;
    text-align: center;
    font-size: 16px;
}

.social-links-modal .gutter .modal {
    background-color: #6871a8;
    max-width: 320px;
}

.social-links-modal .gutter .modal .options {
    padding: 0 0 24px;
    text-align: left;
}

.social-links-modal .gutter .modal .options .option {
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.117);
    cursor: pointer;
    font-size: 17px;
    font-weight: bold;
    padding: 8px 32px;
    text-transform: uppercase;

    -webkit-transition: all 0.129s;
            transition: all 0.129s;

    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
}

.social-links-modal .gutter .modal .options .option.disabled {
    display: none;
}

.social-links-modal .gutter .modal .options .option:hover {
    background-color: #6871a8;
    color: #fff;
    text-indent: 8px;
}

.social-links-modal .gutter .modal .options .option:first-of-type {
    border-top: 1px solid rgba(0, 0, 0, 0.117);
}

.join-modal .gutter .modal {
}

.join-modal .gutter .modal .path {
    background-color: #f7f7f7;
    border-bottom: 1px solid #e9e9e9;
    font-size: 14px;
    font-weight: 700;
    line-height: 70px;
    text-transform: uppercase;
}

.join-modal .gutter .modal .path .step {
    color: #bdc3c8;

    -webkit-transition: color 0.3s;
            transition: color 0.3s;
}

.join-modal .gutter .modal .path .step.selected {
    color: #475a67;
}

.join-modal .gutter .modal .path .arrow {
    background-image: url("../images/right-arrow.png");
    display: inline-block;
    font-weight: 400;
    height: 14px;
    margin: 0 16px;
    position: relative;
    top: 2px;
    width: 8px;
}

.join-modal .gutter .modal form {
    background-color: #f2f2f2;
    border-top: 1px solid #efefef;
}

.join-modal .gutter .modal form .buttons {
    padding: 0 0 38px;
}

.join-modal .gutter .modal form .buttons .border {
    background-color: #d8d8d8;
    height: 1px;
    margin: 0 auto 24px;
    max-width: 480px;
}

.join-modal .gutter .modal form .buttons .n {
    background-color: rgba(255, 255, 255, 0);
    border-radius: 5px;
    border: 2px solid #acacac;
    color: #969696;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 41px;
    margin: 0 8px;
    text-transform: uppercase;
    width: 224px;

    -webkit-transition: background-color 0.3s;
            transition: background-color 0.3s;
}

.join-modal .gutter .modal form .buttons .n:hover {
    background-color: rgba(255, 255, 255, 1);
}

.join-modal .gutter .modal form .buttons .y {
    background-color: #3ccaa4;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 45px;
    margin: 0 8px;
    text-transform: uppercase;
    width: 224px;

    -webkit-transition: background-color 0.3s;
            transition: background-color 0.3s;
}

.join-modal .gutter .modal form .buttons .y:hover {
    background-color: #3ae0b4;
}

.join-modal .gutter .modal form .step {
    display: none;
}



@media screen and (max-width: 579px) {
    .join-modal .gutter .modal .path {
        display: none;
    }

    .join-modal .gutter .modal form .buttons {
        padding: 0 0 35px;
    }

    .join-modal .gutter .modal form .buttons .border {
        height: 2px;
        margin: 0 auto 16px;
        width: 220px;
    }

    .join-modal .gutter .modal form .buttons .n {
        display: block;
        margin: 0 auto 12px;
    }

    .join-modal .gutter .modal form .buttons .y {
        display: block;
        margin: 0 auto;
    }
}

.join-modal .gutter .modal form .error {
    background-color: #fff1f1 !important;
    border: 1px solid #eb7272 !important;
}

.join-modal .gutter .modal form .step.step-1 {
    height: 302px;
    margin: 0 auto;
    position: relative;
    width: 484px;
}

.join-modal .gutter .modal form .step.step-1 .upload-a-photo-label {
    color: #bac0c4;
    display: none;
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 16px;
    width: 100%;
}

.join-modal .gutter .modal form .step.step-1 .upload-a-photo {
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #e1e1e1;
    cursor: pointer;
    height: 226px;
    left: 0;
    position: absolute;
    text-align: left;
    top: 46px;
    width: 226px;

    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;

    -webkit-transition: background-color 0.3s, border 0.3s;
            transition: background-color 0.3s, border 0.3s;
}

.join-modal .gutter .modal form .step.step-1 .upload-a-photo .cross {
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
            transition: opacity 0.3s, transform 0.3s;
}

/* Horizontal */
.join-modal .gutter .modal form .step.step-1 .upload-a-photo .cross::before {
    background-color: #e2e2e2;
    content: '';
    height: 52px;
    left: 112px;
    position: absolute;
    top: 55px;
    width: 2px;
}

/* Vertical */
.join-modal .gutter .modal form .step.step-1 .upload-a-photo .cross::after {
    background-color: #e2e2e2;
    content: '';
    height: 2px;
    left: 86px;
    position: absolute;
    top: 80px;
    width: 52px;
}

.join-modal .gutter .modal form .step.step-1 .upload-a-photo .cross::before,
.join-modal .gutter .modal form .step.step-1 .upload-a-photo .cross::after {
    -webkit-transition: -webkit-transform 0.3s;
            transition: transform 0.3s;

    -webkit-transform: scale(1);
            transform: scale(1);
}

.join-modal .gutter .modal form .step.step-1 .upload-a-photo:hover .cross::before,
.join-modal .gutter .modal form .step.step-1 .upload-a-photo:hover .cross::after {
    -webkit-transform: scale(1.247);
            transform: scale(1.247);
}

.join-modal .gutter .modal form .step.step-1 .upload-a-photo .size {
    bottom: 56px;
    color: #8d8d8d;
    font-size: 12px;
    font-weight: 700;
    position: absolute;
    text-align: center;
    width: 100%;

    -webkit-transition: opacity 0.3s 0.1s, -webkit-transform 0.3s 0.1s;
            transition: opacity 0.3s 0.1s, transform 0.3s 0.1s;
}

.join-modal .gutter .modal form .step.step-1 .upload-a-photo .button {
    background-color: #6871a8;
    border-radius: 5px;
    border: none;
    bottom: 13px;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    left: 16px;
    line-height: 36px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    width: 192px;

    -webkit-transition: background-color 0.3s, opacity 0.3s 0.2s, -webkit-transform 0.3s 0.2s;
            transition: background-color 0.3s, opacity 0.3s 0.2s, transform 0.3s 0.2s;
}

.join-modal .gutter .modal form .step.step-1 .upload-a-photo:hover .button {
    background-color: #6d7cda;
}

.join-modal .gutter .modal form .step.step-1 .upload-a-photo .uploaded-photo-preview {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.join-modal .gutter .modal form .step.step-1 .upload-a-photo input {
    cursor: pointer;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.join-modal .gutter .modal form .step.step-1 .upload-a-photo.selected .cross,
.join-modal .gutter .modal form .step.step-1 .upload-a-photo.selected .size,
.join-modal .gutter .modal form .step.step-1 .upload-a-photo.selected .button {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
}

.join-modal .gutter .modal form .step.step-1 .text-field  {
    border-radius: 5px;
    border: 1px solid #e1e1e1;
    color: #7f7f7f;
    font-size: 16px;
    height: 46px;
    line-height: 46px;
    padding: 0 18px;
    position: absolute;
    right: 0;
    width: 235px;

    -webkit-transition: background-color 0.3s, border 0.3s;
            transition: background-color 0.3s, border 0.3s;
}

.join-modal .gutter .modal form .step.step-1 .text-field:hover,
.join-modal .gutter .modal form .step.step-1 .text-field:focus {
    border: 1px solid #c6c6c6;
}

.join-modal .gutter .modal form .step.step-1 .text-field.your-email {
    top: 46px;
}

.join-modal .gutter .modal form .step.step-1 .text-field.your-name {
    top: 106px;
}

.join-modal .gutter .modal form .step.step-1 .text-field.your-website {
    top: 166px;
}

.join-modal .gutter .modal form .step.step-1 .discipline {
    border-radius: 5px;
    border: 1px solid #c4c4c4;
    color: #7f7f7f;
    cursor: pointer;
    font-size: 16px;
    height: 46px;
    line-height: 46px;
    position: absolute;
    right: 0;
    top: 226px;
    width: 235px;

    -webkit-transition: background-color 0.3s, border 0.3s;
            transition: background-color 0.3s, border 0.3s;
}

.join-modal .gutter .modal form .step.step-1 .discipline .label {
    background-color: #fff;
    border-radius: 4px 0 0 4px;
    height: 44px;
    line-height: 42px;
    padding: 0 0 0 20px;
    text-align: left;
    text-transform: uppercase;
    position: absolute;
    width: 187px;

    -webkit-transition: background-color 0.3s;
            transition: background-color 0.3s;
}

.join-modal .gutter .modal form .step.step-1 .discipline.error .label {
    background-color: #fff1f1 !important;
}

.join-modal .gutter .modal form .step.step-1 .discipline .arrow {
    background-color: #d8d8d8;
    background-image: url("../images/downwards-arrow-dark.png");
    background-position: 12px 17px;
    background-repeat: no-repeat;
    border-radius: 0px 4px 4px 0px;
    height: 44px;
    position: absolute;
    right: 0px;
    width: 46px;

    -webkit-transition: background-color 0.3s;
            transition: background-color 0.3s;
}

.join-modal .gutter .modal form .step.step-1 .discipline:hover .arrow {
    background-color: #e2e2e2;
}

@media screen and (max-width: 579px) {
    .join-modal .gutter .modal form .step.step-1 {
        height: 522px;
        width: 226px;
    }

    .join-modal .gutter .modal form .step.step-1 .upload-a-photo-label {
        display: block;
    }

    .join-modal .gutter .modal form .step.step-1 .upload-a-photo {
        top: 48px;
    }

    .join-modal .gutter .modal form .step.step-1 .text-field.your-email {
        top: 290px;
        width: 226px;
    }

    .join-modal .gutter .modal form .step.step-1 .text-field.your-name {
        top: 348px;
        width: 226px;
    }

    .join-modal .gutter .modal form .step.step-1 .text-field.your-website {
        top: 404px;
        width: 226px;
    }

    .join-modal .gutter .modal form .step.step-1 .discipline {
        top: 460px;
        width: 226px;
    }
}

.join-modal .gutter .modal form .step.step-2 {
    height: 312px;
    margin: 0 auto;
    position: relative;
    width: 450px;
}

.join-modal .gutter .modal form .step.step-2 .preview {
    left: 0;
    position: absolute;
    width: 174px;
    top: 0;
}

.join-modal .gutter .modal form .step.step-2 .preview .label {
    color: #bac0c4;
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 16px;
    width: 100%;
}

.join-modal .gutter .modal form .step.step-2 .preview .image {
    background-image: url('../images/the-creation-of-adam.jpg');
    background-position: center;
    background-size: cover;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    height: 238px;
    position: absolute;
    top: 46px;
    width: 100%;
}

.join-modal .gutter .modal form .step.step-2 .preview .text {
    color: #fff;
    font-size: 11px;
    height: 238px;
    padding: 16px 16px 16px 24px;
    position: absolute;
    text-align: left;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .982);
    top: 46px;
    width: 100%;
}

.join-modal .gutter .modal form .step.step-2 .preview .text .name {
    color: #00ff66;
    font-weight: bold;
    text-decoration: none;
}

.join-modal .gutter .modal form .step.step-2 .preview .text .social-links {
    color: rgba(255, 255, 255, 0.4);
    display: block;
    font-size: 8px;
    text-align: center;
}

.join-modal .gutter .modal form .step.step-2 .preview .text .social-links a {
    color: #0f6;
    text-decoration: none;
}

.join-modal .gutter .modal form .step.step-2 .preview a.close-preview-button {
    background-color: #cacde1;
    border-radius: 3px;
    color: #787b93;
    display: none;
    font-size: 12px;
    font-weight: 700;
    left: 16px;
    line-height: 30px;
    position: absolute;
    text-decoration: none;
    text-transform: uppercase;
    top: 0;
    width: 142px;

    -webkit-transition: background-color 0.3s;
            transition: background-color 0.3s;
}

.join-modal .gutter .modal form .step.step-2 .preview a.close-preview-button:hover {
    background-color: #d5d7e8;
}

.join-modal .gutter .modal form .step.step-2 .fields {
    position: absolute;
    right: 0;
    top: 0;
    width: 235px;
}

.join-modal .gutter .modal form .step.step-2 .fields .label {
    color: #bac0c4;
    display: none;
    font-size: 14px;
    font-weight: 700;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 20px;
    width: 100%;
}

.join-modal .gutter .modal form .step.step-2 .fields .limit {
    color: #bbbfc2;
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    right: 3px;
    text-align: right;
    top: 20px;
    width: 100%;
}

.join-modal .gutter .modal form .step.step-2 .fields textarea.biography {
    border-radius: 5px;
    border: 1px solid #e1e1e1;
    color: #7f7f7f;
    font-family: 'Open Sans Web', sans-serif;
    font-size: 16px;
    height: 238px;
    padding: 16px 18px;
    position: absolute;
    right: 0;
    resize: none;
    top: 45px;
    width: 100%;

    -webkit-transition: background-color 0.3s, border 0.3s;
            transition: background-color 0.3s, border 0.3s;
}

.join-modal .gutter .modal form .step.step-2 .fields a.preview-button {
    background-color: #cacde1;
    border-radius: 3px;
    color: #787b93;
    display: none;
    font-size: 12px;
    font-weight: 700;
    left: 46px;
    line-height: 30px;
    position: absolute;
    text-decoration: none;
    text-transform: uppercase;
    top: 258px;
    width: 142px;

    -webkit-transition: background-color 0.3s;
            transition: background-color 0.3s;
}

.join-modal .gutter .modal form .step.step-2 .fields a.preview-button:hover {
    background-color: #d5d7e8;
}

@media screen and (max-width: 579px) {
    .join-modal .gutter .modal form .step.step-2 {
        height: 334px;
        width: 235px;
    }

    .join-modal .gutter .modal form .step.step-2 .preview {
        display: none;
        left: 30px;
        top: 0;
        z-index: 1;
    }

    .join-modal .gutter .modal form .step.step-2.previewing .preview {
        top: 16px;
        display: block;
    }

    .join-modal .gutter .modal form .step.step-2.previewing .preview .close-preview-button {
        display: block;
    }

    .join-modal .gutter .modal form .step.step-2.previewing .fields {
        display: none;
    }

    .join-modal .gutter .modal form .step.step-2 .preview .label {
        display: none;
    }

    .join-modal .gutter .modal form .step.step-2 .fields .label {
        display: block;
    }

    .join-modal .gutter .modal form .step.step-2 .fields .limit {
        left: 4px;
        right: auto;
        text-align: left;
        top: 308px;
    }

    .join-modal .gutter .modal form .step.step-2 .fields textarea.biography {
        padding: 16px 18px 58px;
        top: 64px;
    }

    .join-modal .gutter .modal form .step.step-2 .fields a.preview-button {
        display: block;
    }
}

.join-modal .gutter .modal form .step.step-3 {
    height: 312px;
    margin: 0 auto;
    position: relative;
    width: 450px;
}

.join-modal .gutter .modal form .step.step-3 .preview {
    left: 0;
    position: absolute;
    width: 174px;
    top: 0;
}

.join-modal .gutter .modal form .step.step-3 .preview .label {
    color: #bac0c4;
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 16px;
    width: 100%;
}

.join-modal .gutter .modal form .step.step-3 .preview .image {
    background-image: url('../images/the-creation-of-adam.jpg');
    background-position: center;
    background-size: cover;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    height: 238px;
    position: absolute;
    top: 46px;
    width: 100%;
}

.join-modal .gutter .modal form .step.step-3 .preview .text {
    color: #fff;
    font-size: 11px;
    height: 238px;
    padding: 16px 16px 16px 24px;
    position: absolute;
    text-align: left;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .982);
    top: 46px;
    width: 100%;
}

.join-modal .gutter .modal form .step.step-3 .preview .text .name {
    color: #00ff66;
    font-weight: bold;
    text-decoration: none;
}

.join-modal .gutter .modal form .step.step-3 .preview .text .social-links {
    color: rgba(255, 255, 255, 0.4);
    display: block;
    font-size: 8px;
    text-align: center;
}

.join-modal .gutter .modal form .step.step-3 .preview .text .social-links a {
    color: #0f6;
    text-decoration: none;
}

.join-modal .gutter .modal form .step.step-3 .fields {
    position: absolute;
    right: 0;
    top: 0;
    width: 235px;
}

.join-modal .gutter .modal form .step.step-3 .fields .label-desktop {
    border-bottom: 1px solid #d2d2d2;
    color: #bac0c4;
    font-size: 14px;
    font-weight: bold;
    left: 0;
    padding: 0 0 0 2px;
    position: absolute;
    text-align: left;
    text-transform: uppercase;
    top: 16px;
    width: 232px;
}

.join-modal .gutter .modal form .step.step-3 .fields .label-mobile {
    color: #bac0c4;
    display: none;
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 16px;
    width: 100%;
}

.join-modal .gutter .modal form .step.step-3 .fields .text-field {
    position: absolute;
    right: 0;
    top: 66px;
    width: 235px;
}

.join-modal .gutter .modal form .step.step-3 .fields .text-field.number-2 {
    top: 138px;
}

.join-modal .gutter .modal form .step.step-3 .fields .text-field.number-3 {
    top: 210px;
}

.join-modal .gutter .modal form .step.step-3 .fields .text-field .label {
    color: #7f7f7f;
    font-size: 13px;
    left: 2px;
    position: absolute;
    text-transform: uppercase;
    top: 0;
}

.join-modal .gutter .modal form .step.step-3 .fields .text-field input {
    border-radius: 5px;
    border: 1px solid #e1e1e1;
    color: #7f7f7f;
    font-size: 16px;
    height: 46px;
    left: 0;
    line-height: 46px;
    padding: 0 18px;
    position: absolute;
    top: 20px;
    width: 100%;

    -webkit-transition: background-color 0.3s, border 0.3s;
            transition: background-color 0.3s, border 0.3s;
}

.join-modal .gutter .modal form .step.step-3 .fields .social-links {
    border-radius: 5px;
    border: 1px solid #c4c4c4;
    color: #7f7f7f;
    cursor: pointer;
    font-size: 16px;
    height: 46px;
    line-height: 46px;
    position: absolute;
    right: 0;
    top: 0;
    width: 235px;

    -webkit-transition: background-color 0.3s, border 0.3s;
            transition: background-color 0.3s, border 0.3s;
}

.join-modal .gutter .modal form .step.step-3 .fields .social-links[data-phase="1"] {
    top: 66px;
}

.join-modal .gutter .modal form .step.step-3 .fields .social-links[data-phase="2"] {
    top: 152px;
}

.join-modal .gutter .modal form .step.step-3 .fields .social-links[data-phase="3"] {
    top: 226px;
}

.join-modal .gutter .modal form .step.step-3 .fields .social-links[data-phase="4"] {
    display: none;
}

.join-modal .gutter .modal form .step.step-3 .fields .social-links .label {
    background-color: #fff;
    border-radius: 4px 0 0 4px;
    height: 44px;
    line-height: 42px;
    padding: 0 0 0 20px;
    text-align: left;
    text-transform: uppercase;
    position: absolute;
    width: 187px;

    -webkit-transition: background-color 0.3s;
            transition: background-color 0.3s;
}

.join-modal .gutter .modal form .step.step-3 .fields .social-links.error .label {
    background-color: #fff1f1 !important;
}

.join-modal .gutter .modal form .step.step-3 .fields .social-links .arrow {
    background-color: #d8d8d8;
    background-image: url("../images/downwards-arrow-dark.png");
    background-position: 12px 17px;
    background-repeat: no-repeat;
    border-radius: 0px 4px 4px 0px;
    height: 44px;
    position: absolute;
    right: 0px;
    width: 46px;

    -webkit-transition: background-color 0.3s;
            transition: background-color 0.3s;
}

.join-modal .gutter .modal form .step.step-3 .fields .social-links:hover .arrow {
    background-color: #e2e2e2;
}

@media screen and (max-width: 579px) {
    .join-modal .gutter .modal form .step.step-3 {
        height: 294px;
        width: 235px;
    }

    .join-modal .gutter .modal form .step.step-3 .preview {
        display: none;
    }
    
    .join-modal .gutter .modal form .step.step-3 .fields .label-desktop {
        display: none;
    }
    
    .join-modal .gutter .modal form .step.step-3 .fields .label-mobile {
        display: block;
    }
}

.join-modal .gutter .modal form .step.step-4 {
    height: 362px;
    width: 217px;
    position: relative;
    margin: 0 auto;
}

.join-modal .gutter .modal form .step.step-4 .label-desktop {
    color: #bac0c4;
    font-size: 14px;
    font-weight: 700;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 24px;
    width: 100%;
}

.join-modal .gutter .modal form .step.step-4 .label-mobile {
    color: #bac0c4;
    display: none;
    font-size: 14px;
    font-weight: 700;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 24px;
    width: 100%;
}

.join-modal .gutter .modal form .step.step-4 .preview {
    left: 0;
    position: absolute;
    width: 217px;
    top: 8px;
}

.join-modal .gutter .modal form .step.step-4 .preview .label {
    display: none;
}

.join-modal .gutter .modal form .step.step-4 .preview .image {
    background-image: url('../images/the-creation-of-adam.jpg');
    background-position: center;
    background-size: cover;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    height: 280px;
    position: absolute;
    top: 46px;
    width: 100%;
}

.join-modal .gutter .modal form .step.step-4 .preview .text {
    color: #fff;
    font-size: 14px;
    height: 280px;
    line-height: 1.4;
    padding: 18px 18px 18px 28px;
    position: absolute;
    text-align: left;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .982);
    top: 46px;
    width: 100%;
}

.join-modal .gutter .modal form .step.step-4 .preview .text .name {
    color: #00ff66;
    font-weight: bold;
    text-decoration: none;
}

.join-modal .gutter .modal form .step.step-4 .preview .text .social-links {
    color: rgba(255, 255, 255, 0.4);
    display: block;
    font-size: 9px;
    text-align: center;
}

.join-modal .gutter .modal form .step.step-4 .preview .text .social-links a {
    color: #0f6;
    text-decoration: none;
}

@media screen and (max-width: 579px) {
    .join-modal .gutter .modal form .step.step-4 .label-desktop {
        display: none;
    }

    .join-modal .gutter .modal form .step.step-4 .label-mobile {
        display: block;
    }
}

/* IE */
:-ms-input-placeholder {  
   opacity: 0.5;
}

/* Animations */
@keyframes thanksMessageSlide {
    from {
        transform: scale(0.27);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}
@-webkit-keyframes thanksMessageSlide {
    from {
        -webkit-transform: scale(0.27);
        opacity: 0;
    }

    to {
        -webkit-transform: scale(1);
        opacity: 1;
    }
}
@keyframes thanksFormInputSlide {
    from {
        transform: scale(1);
        opacity: 1;
    }
    
    to {
        transform: scale(0);
        opacity: 0;
    }
}
@-webkit-keyframes thanksFormInputSlide {
    from {
        -webkit-transform: scale(1);
        opacity: 1;
    }

    to {
        -webkit-transform: scale(0);
        opacity: 0;
    }
}
@keyframes nothingSlide {
    from {
        transform: scale(0.27);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}
@-webkit-keyframes nothingSlide {
    from {
        -webkit-transform: scale(0.27);
        opacity: 0;
    }

    to {
        -webkit-transform: scale(1);
        opacity: 1;
    }
}