<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Artists Coalition</title>
    <link rel="stylesheet" href="css/coalition.css">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link rel="icon" href="favicon.ico">
</head>
<body>

<header>
    <h1>
        Don't destroy contemporary culture in our names.
    </h1>

    <h3>
        Giant corporations are exploiting the work of artists and creators, and then using us to justify draconian copyright laws that are stifling innovation, strangling culture, and censoring the Internet. Sign the petition calling for all artists to stand up for creativity and against abuse of copyright. 
    </h3>

    <div class="email-border">
        <div class="email">
            <form id="hero-form">
                <div class="thanks-message">
                    You rock.
                </div>
                <div class="fields">
                    <input placeholder="Your name" id="hero-form-name" class="name-field">
                    <input placeholder="Your email" id="hero-form-email" class="email-field" type="email">
                </div>
                <button>Take action!</button>
            </form>
        </div>
    </div>

    <div class="disclaimer">
        <a href="https://www.fightforthefuture.org/" class="fftf" target="_blank">Fight for the Future</a> will contact you about future campaigns. <a href="https://www.fightforthefuture.org/privacy/" class="privacy" target="_blank">Privacy Policy</a>
    </div>
</header>

<section class="artists" id="artists-section">
    <header>
        <h3>Artists' Coalition to Defend Culture</h3>
        <button class="add-your-name">Add your name</button>
        <div class="filter" id="categories-modal-button">
            <div class="label">Show me:</div>
            <div class="dropdown">
                <div class="selected" id="selected-category-name">ALL</div>
                <div class="arrow"></div>
            </div>
        </div>
    </header>

    <div id="artists-view" class="loading">
        <div class="nothing">
            This category is empty.
        </div>
    </div>

    <div class="view-more">
        View More
    </div>
</section>

<section class="join-us" id="join-us">
    <h3>Join us</h3>

    <h4><strong><span id="artists-count">Awesome</span> Artists</strong> are leading the fight for the future of the Internet. Join the movement to keep the Internet open, free, and awesome.</h4>

    <button class="add-your-name">Add your name</button>

    <div class="testimonials">
        <div class="testimonial theblow">
            <div class="quote">
                The Internet is the window we look through to see what the world is. We need this window and we can’t have someone standing in front of it charging us more for a clearer view.
            </div>
            <div class="name">
                The Blow
            </div>
        </div>

        <div class="testimonial adriennemareebrown">
            <div class="quote">
                We still have a lot of learning to do, but the Internet is a truly democratic space where people get to speak in their own direct voices, from their own needs, to create a world that works for all of us.
            </div>
            <div class="name">
                adrienne maree brown
            </div>
        </div>

        <div class="testimonial khnumibomu">
            <div class="quote">
                I count on the open Internet to not only keep creating, but also to address social issues in the best way I know how: through my mission of meaningful music and marketing messages of wellbeing empowerment and justice.
            </div>
            <div class="name">
                Khnum "Stic" Ibomu
            </div>
        </div>
    </div>

    <div class="statement" id="coalition-statement">
        We, the members of the Coalition, are cultural activists working across mediums and disciplines to protect freedom on the Internet. The Coalition was born out of the belief that when artists combine their vision and influence with the passions of the Internet activist community, we can together create a force for good that protects the best parts of the Internet now and into the future.
    </div>
</section>

<section class="core-values" id="what-we-believe">
    <h3>
        What we believe
    </h3>

    <div class="line"></div>

    <ul>
        <li class="expandable">
            <div class="expander">
                <div class="arrow"></div>
                Copyright laws are misaligned with the way that people are now creating content
            </div>

            <ul>
                <li>
                    The laws may have worked in the past, but we now live in a contemporary moment when the way we make art and communicate ideas has fundamentally changed. We need better laws that allow more people to participate as creators and makers and to share their work widely without killing creativity.
                </li>

                <li>
                    The copyright lobby have been expanding copyright's reach in order to "protect creativity". We believe that it is time to start over from scratch - with artists, young people, and users at the table to create copyright laws that work for us.
                </li>

                <li>
                    Stop the DMCA’s “assumed guilty until proven innocent” logic that can lead to inappropriate video takedowns on Youtube. Examples include how bands have to send separate video links to everyone in Germany because the rightsholders in Germany don't have a deal with Youtube.
                </li>
            </ul>
        </li>

        <div class="line"></div>

        <li class="expandable">
            <div class="expander">
                <div class="arrow"></div>
                Censorship is an attack to the human spirit.
            </div>


            <ul>
                <li>
                    Censoring people's inherent desire to create and communicate is the wrong way to approach things if you are trying to solve a problem. We want to return to the core values around intellectual property - ie a fertile space where people can share and build upon one another’s ideas.
                </li>
            </ul>
        </li>

        <div class="line"></div>

        <li class="expandable">
            <div class="expander">
                <div class="arrow"></div>
                Surveillance eats away at freedom of expression.
            </div>

            <ul>
                <li>
                    Artists need to be able to create without fear.  This means fear of being sued (eg ‘Selma’ <a target="_blank" href="http://www.project-disco.org/intellectual-property/122914-paraphrasing-selma/">filmmakers having to rewrite MLK speeches</a>); fear of having an art project targeted as an act of terrorism (eg <a target="_blank" href="http://www.democracynow.org/2008/6/16/art_in_a_time_of_terror">the Steve Kurtz - Critical Art Ensemble - bio terrorism case</a>) or fear of arbitrarily having your work or online presence get censored by over stringent copyright laws (eg DCMA “guilty til proven innocent” video takedown practices on Youtube, <a target="_blank" href="http://arstechnica.com/tech-policy/2007/07/universal-demands-takedown-of-homemade-dancing-toddler-clip-eff-sues/">Music Label versus Dancing Baby</a> case)
                </li>
            </ul>
        </li>

        <div class="line"></div>

        <li class="expandable">
            <div class="expander">
                <div class="arrow"></div>
                Culture means copying, seeing, learning, and building.
            </div>

            <ul>
                <li>
                    Copying is a set of cultural building blocks and opens up space for more freedom. An Internet that lets people copy (by linking, posting, modifying images, sounds, etc.) allows more people to participate.
                </li>
            </ul>
        </li>

        <div class="line"></div>

        <li class="expandable">
            <div class="expander">
                <div class="arrow"></div>
                Culture should be open and accessible to everyone.
            </div>

            <ul>
                <li>
                    Putting the bulk of cultural content behind paywalls is like destroying public institutions or the concept of education for all.
                </li>

                <li>
                    According to a <a target="_blank" href="http://www.theatlantic.com/technology/archive/2012/03/the-missing-20th-century-how-copyright-protection-makes-books-vanish/255282/">study of Amazon book titles</a>, 20th century copyright laws have cause whole generations of our literary and heritage to vanish.
                </li>
            </ul>
        </li>

        <div class="line"></div>

        <li class="expandable">
            <div class="expander">
                <div class="arrow"></div>
                Creativity benefits from collaboration.
            </div>

            <ul>
                <li>
                    Phenomenon of fans participating in a way that made a simple idea into a very big deal.

                    <br>
                    <br>

                    <a target="_blank" href="http://web.archive.org/web/20130424074859/http://youtube-trends.blogspot.com.au/2013/02/the-harlem-shake-has-exploded.html">Harlem shake</a> meme of 2013.

                    <br>
                    <br>

                    OK Go <a target="_blank" href="https://www.youtube.com/playlist?list=PL456C3767B9394365">video remakes by fans</a>.
                </li>
            </ul>
        </li>
    </ul>
</section>

<section class="contact">
    Contact <a href="mailto:team@fightforthefuture.org">team@fightforthefuture.org</a> with questions about the Coalition or site administration.
</section>

<div class="easel">
    <img src="images/easel.svg">
    <div class="text">
        <h3>Contents</h3>
        <a href="#join-us">Join us</a>
        <a href="#what-we-believe">What we believe</a>
        <a href="#coalition-statement">Coalition statement</a>
        <a href="#what-we-believe">Learn more</a>
    </div>
</div>

<footer>
    <div class="left">
        <a href="https://www.fightforthefuture.org/" target="_blank"><img src="images/footer-logo.png" class="logo"></a>
    </div>

    <div class="right">
        <a href="https://donate.fightforthefuture.org/" target="_blank" class="donate">Donate</a>

        <div class="facebook">
            <img src="images/facebook.png">
        </div>

        <div class="twitter">
            <img src="images/twitter.png">
        </div>
    </div>
</footer>

<div class="overlay categories-modal invisible" id="categories-modal">
    <div class="gutter">
        <div class="modal">
            <a class="close" href="#">×</a>
            <h1>Categories</h1>
            <div id="categories-modal-options" class="options"></div>
        </div>
    </div>
</div>

<div class="overlay join-modal invisible" id="join-modal">
    <div class="gutter">
        <div class="modal">
            <a class="close" href="#">×</a>
            <h1>Add yourself as an artist!</h1>
            <div class="path">
                <span class="step step-1 selected">Add your photo</span> <span class="arrow"></span> <span class="step step-2">Information</span> <span class="arrow"></span> <span class="step step-3">Social Media</span> <span class="arrow"></span> <span class="step step-4">Finalize</span>
            </div>
            <form id="join-modal-form">

                <div class="step step-1">
                    <div class="upload-a-photo-label">Add your photo</div>
                    <div class="upload-a-photo" id="upload-a-photo">
                        <div class="uploaded-photo-preview" id="uploaded-photo-preview"></div>
                        <div class="cross"></div>
                        <div class="size">434x560px</div>
                        <div class="button">
                            Upload a photo
                        </div>
                        <input class="input" id="uploaded-photo" type="file" />
                    </div>
                    <input class="text-field your-email" name="name" placeholder="YOUR EMAIL" id="your-email-field"></input>
                    <input class="text-field your-name" name="name" placeholder="YOUR NAME" id="your-name-field"></input>
                    <input class="text-field your-website" name="website" placeholder="YOUR WEBSITE" id="your-website-field"></input>
                    <div class="discipline" id="disciplines-modal-button">
                        <div class="label" id="discipline-label">Discipline</div>
                        <div class="arrow"></div>
                    </div>
                </div>

                <div class="step step-2">
                    <div class="preview">
                        <a class="close-preview-button" href="#">Close Preview</a>

                        <div class="label">Preview</div>
                        <div class="image"></div>
                        <div class="tint"></div>
                        <div class="text">
                            <a class="name" target="_blank" href="#">Artist Name</a>
                            <span class="biography">...</span>
                            <div class="social-links"></div>
                        </div>
                    </div>

                    <div class="fields">
                        <div class="label">Information:</div>

                        <div class="limit">
                            <span class="amount">
                                250
                            </span>

                            CHAR
                        </div>

                        <textarea class="biography" placeholder="Who you are and what you think is important about Internet culture and freedom of expression"></textarea>

                        <a class="preview-button" href="#">Preview</a>
                    </div>
                </div>

                <div class="step step-3">
                    <div class="preview">
                        <div class="label">Preview</div>
                        <div class="image"></div>
                        <div class="tint"></div>
                        <div class="text">
                            <a class="name" target="_blank" href="#">Artist Name</a>
                            <span class="biography">...</span>
                            <div class="social-links"></div>
                        </div>
                    </div>

                    <div class="fields">
                        <div class="label-desktop">Add up to three social links:</div>
                        <div class="label-mobile">Add social links:</div>

                        <div class="social-links" data-phase="1">
                            <div class="label">Add social link</div>
                            <div class="arrow"></div>
                        </div>
                    </div>
                </div>

                <div class="step step-4">
                    <div class="label-desktop">Preview</div>
                    <div class="label-mobile">Preview and finalize</div>

                    <div class="preview"></div>
                </div>

                <div class="buttons">
                    <div class="border"></div>

                    <input class="n" type="button" value="Cancel" />

                    <input class="y" type="submit" value="Next" />
                </div>
            </form>
        </div>
    </div>
</div>

<div class="overlay uploading-modal invisible" id="uploading-modal">
    <div class="gutter">
        <div class="modal">
            <a class="close" href="#">×</a>
            <h1>Uploading</h1>
            <div class="description">
                Your image is uploading, please wait.
                <br />
                <br />
                <img src="images/ajax-loader-green.gif" />
            </div>
        </div>
    </div>
</div>

<div class="overlay uploaded-modal invisible" id="uploaded-modal">
    <div class="gutter">
        <div class="modal">
            <a class="close" href="#">×</a>
            <h1>Welcome</h1>
            <div class="description">
                Welcome to the coalition!
                <br />
                You will be added to the website very soon.
            </div>
        </div>
    </div>
</div>

<div class="overlay categories-modal invisible" id="disciplines-modal">
    <div class="gutter">
        <div class="modal">
            <a class="close" href="#">×</a>
            <h1>Disciplines</h1>
            <div id="disciplines-modal-options" class="options"></div>
        </div>
    </div>
</div>

<div class="overlay social-links-modal invisible" id="social-links-modal">
    <div class="gutter">
        <div class="modal">
            <a class="close" href="#">×</a>
            <h1>Social Websites</h1>
            <div class="options">
                <div class="option" data-id="facebook">
                    Facebook
                </div>
                <div class="option" data-id="twitter">
                    Twitter
                </div>
                <div class="option" data-id="instagram">
                    Instagram
                </div>
                <div class="option" data-id="soundcloud">
                    SoundCloud
                </div>
                <div class="option" data-id="tumblr">
                    Tumblr
                </div>
                <div class="option" data-id="bandcamp">
                    Bandcamp
                </div>
                <div class="option" data-id="other">
                    Other
                </div>
            </div>
        </div>
    </div>
</div>

<script type="template" id="template:artist">
<div class="artist" style="background-image: url(<%= photo_url || 'images/the-creation-of-adam.jpg' %>)">
<div class="text">
<a class="name" href="<%= url || '#' %>" target="_blank"><%= name %></a>
<span class="biography"><%= biography %></span>
<div class="social-links">
<%= socialHTML %>
</div>
</div>
<div class="shade"></div>
<div class="tint"></div>
</div>
</script>

<script type="template" id="template:categories">
<% _.each(categories, function(c) { %>
    <div class="option" data-id="<%= c.id %>">
        <%= c.name %>
    </div>
<% }) %>
</script>

<script type="template" id="template:social-link">
<div class="text-field number-<%= number %>">
    <div class="x">x</div>
    <div class="label"><%= name %>:</div>
    <input class="social-link" data-id="<%= id %>" placeholder="Your URL">
</div>
</script>

<script src="js/vendor/lodash.min.js"></script>
<script src="js/vendor/packery.min.js"></script>
<script src="js/coalition.js" async></script>

</body>
</html>
